---
import { getI18N } from "@/i18n";
import KitITEM from "@/components/KitITEM.astro";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<section class="flex flex-col items-center justify-center p-4 overflow-hidden">
  <h2 class="text-6xl font-bold mb-14 mt-4">{i18n.Pon_KIT_TITLE}</h2>
  <div class="flex flex-col gap-16 lg:flex-row lg:gap-8">
    <KitITEM
      title={i18n.Pon_KIT_SUBTITLE_1}
      download={i18n.DOWNLOAD_BUTTON}
      image="/pon-page/acceso-salas-farga.webp"
      link="https://mystic-bcn.com/public/plano_la_farga_congress.jpg"
    />
    <KitITEM
      title={i18n.Pon_KIT_SUBTITLE_2}
      download={i18n.DOWNLOAD_BUTTON}
      image="/pon-page/ponentes-background.webp"
      link="https://mystic-bcn.com/public/plano-auditorio.pdf"
    />
    <KitITEM
      title={i18n.Pon_KIT_SUBTITLE_3}
      download={i18n.DOWNLOAD_BUTTON}
      image="/pon-page/polivalente.webp"
      link="https://mystic-bcn.com/public/plano-salapolivalente.pdf"
    />
  </div>
</section>
